# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-64/blas-1.0-mkl.conda
https://conda.anaconda.org/conda-forge/label/gcc7/osx-64/ca-certificates-2018.10.15-ha4d7672_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/intel-openmp-2019.4-233.conda
https://repo.anaconda.com/pkgs/main/osx-64/jpeg-9b-he5867d9_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/libcxx-10.0.0-1.conda
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.5-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.11-h1de35cc_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.3-hb1e8313_2.conda
https://repo.anaconda.com/pkgs/main/osx-64/libpng-1.6.37-ha441bb4_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/lz4-c-1.9.2-h79c402e_3.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl-2019.4-233.conda
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.2-h0a44026_1.conda
https://conda.anaconda.org/conda-forge/label/gcc7/osx-64/nodejs-11.6.0-h0a44026_1000.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openssl-1.1.1h-haf1e3a3_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.10-hb0a8c7a_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/freetype-2.10.3-ha233b18_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libedit-3.1.20191231-h1de35cc_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/readline-8.0-h1de35cc_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/zstd-1.4.5-h41d2c2f_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/libtiff-4.1.0-hcb84e12_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.33.0-hffcf06c_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/lcms2-2.11-h92f6f08_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/python-3.7.9-h26836e1_0.conda
https://conda.anaconda.org/conda-forge/label/gcc7/osx-64/certifi-2018.8.24-py37_1001.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/kiwisolver-1.2.0-py37h04f5b5a_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/olefile-0.46-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.7-py_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python_abi-3.7-1_cp37m.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/six-1.15.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/tornado-6.0.4-py37h1de35cc_1.conda
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.35.1-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/cycler-0.10.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl-service-2.3.0-py37hfbe908c_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pillow-8.0.0-py37h1a82f1a_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.1-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/setuptools-50.3.0-py37h0dc7051_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/numpy-base-1.19.1-py37hcfb5961_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/pip-20.2.3-py37_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/matplotlib-3.3.1-0.conda
https://repo.anaconda.com/pkgs/main/osx-64/matplotlib-base-3.3.1-py37h181983e_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl_fft-1.2.0-py37hc64f4ea_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/mkl_random-1.1.1-py37h959d312_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/numpy-1.19.1-py37h3b9f5b6_0.conda
